body {
    background-color: white;
}
/*Made background of page white*/
a{
    color: blue;
}
/*Made "a" (anchor) tags blue*/
#current-link{
    text-decoration: none;
} 
/*Created id tag for the current link on the page*/
.uppercase{
    text-transform: uppercase;
    font-size: 36px;
}
/*Created class for uppercase text*/
h1 {
    border: 5px dashed red;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 500px;
    
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-right: 50px;
}
/*Added Border and Margin to the "H1" tag*/
.image{
    border: 5px dashed blue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
/*Created a class for images to have a border*/
p{   
    font-size: 24px;
}
.center{
    alignment-baseline: central
}